
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.fluid{
  background-color: #FCF4E8;
  padding: 10px;
}

.title{
  font-family: 'Public Sans', sans-serif;
  font-weight: 800;
}

.links{
  font-size: 70%;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
}


.App-header {
  background-color: #FCF4E8;
  border-bottom: solid 2px #000000;
  font-weight: 500;
  color: #C97E2E !important;

}

.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.full-width-image img {
  width: 100%;
}

.heading {
  font-size: vw;
  font-family: "Public Sans", sans-serif;
  width: 750px;
  margin: 10%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.p1{
  font-size: 4vw;
  text-align: center;
  background-color: #FCF4E8;
  font-family: "Public Sans", sans-serif;
  padding-top: 12%;
  padding-bottom: 22%;
  color: #C98030;
  font-weight: 700;
  line-height: 1.25;
}

.paragraph-headings {
  font-size: 4vw;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
  word-spacing:1.25%;
}
.p2 {
  font-size: 1.5vw;
  text-align: center;
  font-weight: 500;
  color: #3F342C;

}
.p3 {
  font-size: 2vw;
  font-family: "Public Sans", sans-serif;
  width: 750px;
  text-align: center;
  color: #e68a00;
  margin: 4%;
}
.p4{
   font-size: 45px;

  /* width: 100px; */
  text-align: center;
  margin: 0%;
}
.p5{
  font-size: 45px;
  text-align: center;
  margin: 0%;
}

.call{
  min-height: 20vh;
  font-family: 'Roboto Mono', sans-serif;
  color:#3C2F29;
  font-size: 2.1vw;
  padding-top: 8%;
  padding-bottom: 17%;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.backgroundforcall{
  background-color: #FDF2E2;
}

p{
  line-height: 1.25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;

}


.however{
  color: #FDF2E2;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 10.5vw;
  padding-top: 6.2%;
  padding-bottom: 6.2%;
}

.sep{
  background-color: #FFFFF;
  min-height: 20vh;
}

.footer{
  padding-top: 3% !important;
  padding-left: 5% !important;
  color: #FFFFFF;
  background-color: #3C2F29;
  min-height: 20vh;
  font-size: 2.1vw;
  font-family: 'Roboto Mono', sans-serif;

}

.h-text {
  transform: rotate(-180deg);
}

p{
  word-spacing:1%;
  line-height: 1.25;
}

.nopadding-left {
   text-align: right;
   padding: 0 !important;
   margin: 0 !important;
   letter-spacing: 2.5px;
}

.nopadding-right {
   text-align: left;
   letter-spacing: 2.5px;
}

.yearquote p {
  position: absolute;
  color: rgb(214, 142, 8);
  font-size: 2em;
  margin-left: 6rem;
  margin-top: 15.5rem;
  font-weight: 500;
  /* display-direction: column;*/
}

#kevinquote {
  display: flex;
}

#kevruddName {
  position: absolute;
  color: #000;
  font-size: 0.6rem;
  /* margin-left: 2rem; */
  margin-left: 11rem;
  margin-top: 16rem;
  /* margin: 16rem;
  margin-left: 13rem; */
  font-weight: 600;
}
div img {
  height: auto;
  width: 20rem;
  margin-left: 15rem;
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  z-index: -1;
}

.article1,
.article2,
.article3,
.article4,
.article5 {
  margin-left: 1rem;
  letter-spacing: 0.05em;
  font-size: 1rem;
  display: flex;
  width: 80%;
}

/* .article1 p {
  margin: 4rem;
} */
.article1 p {
  margin-bottom: 3rem;
}
.article3 p {
  margin-bottom: 3rem;
}

#speechBubble {
  margin-bottom: 2px;
}
p.bubble {
  position: absolute;
  width: 17rem;
  text-align: center;
  line-height: 1.4em;
  margin: 0 0.1rem;

  border: 5px solid #3a2419;
  border-radius: 0.4rem;

  padding: 1px;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: #3a2419;
  color: #fff;
}

p.bubble:before,
p.bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}
p.speech:before {
  left: 4px;
  bottom: -50px;
  border: 24px solid;
  border-color: #3a2419 transparent transparent #3a2419;
}
p.speech:after {
  left: 24px;
  bottom: -30px;
  border: 5px solid;
  border-color: #3a2419 transparent transparent #3a2419;
}
.kevinquote1,
.kevinquote2 {
  position: absolute;

  /* margin-left: 2rem; */
  line-height: 1.5em;
  /* font-size: 6rem; */
  /* margin-top: 6rem; */
  font-weight: 700;
}
.kevinquote1 {
  margin-left: 5rem;
  margin-top: 6rem;
}
.kevinquote2 {
  margin-left: 4rem;
  margin-top: 7rem;
}
.article2 {
  margin: 3rem;
}
.article3 {
  /* justify-content: center; */
  font-size: 1rem;
  letter-spacing: 0.12rem;
}
#quotebold {
  font-weight: 600;
  margin-bottom: 1px;
}
#quoteunderline {
  margin-top: 1rem;
  text-decoration: underline solid rgb(148, 110, 15) 0.53rem;
}

/* media  */
/* @media (max-width: 411px) {
  #kevruddName {
    width: 5rem;
    font-size: 0.8rem;

    margin-left: 4rem;
    top: 16rem;
  }
  .article1,
  .article2,
  .article3,
  .article4,
  .article5 {
    width: 90%;
    margin-left: 1rem;
    font-size: 1.2rem;
  }
  .article1 {
    width: 100%;
  }
} */
/* media  */
@media (max-width: 900px) and (min-width: 0px) {
  .yearquote p {
    font-size: 1.5em;
    margin-left: 0.2rem;
    margin-top: 10rem;
  }

  #kevruddName {
    position: absolute;
    font-size: 0.6rem;

    margin-left: 8rem;
    top: 0.2rem;
    /* top: 1rem; */
  }
  p.bubble {
    width: 9rem;
    font-size: 0.7rem;
    padding: 5px;
  }
  div img {
    height: auto;
    width: 12rem;
    margin-left: 4rem;

    margin-top: 1rem;
    display: flex;
  }
  .kevinquote1,
  .kevinquote2 {
    font-size: 0.6rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .kevinquote2 {
    margin-top: 4.7rem;
    margin-left: 2rem;
  }
  .article1,
  .article2,
  .article3,
  .article4,
  .article5 {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}
/* @media (min-width: 0) and (max-width: 1440px) {
 
} */
/* bigger than ipad pro */
/* @media only screen and (min-width: 0px) and (max-height: 1366px) {
  
} */
/* @media (min-width: 0) and (max-width: 1024px) {
  
} */
/* 920px */

/* ipad */
@media only screen and (max-width: 768px) {
  /* body {
    background-color: rgb(201, 138, 149);
    content: "768";
  } */
  p.bubble {
    width: 12rem;
    margin-right: 0.4rem;
    font-size: 1rem;
  }
  .article1,
  .article2,
  .article3,
  .article4,
  .article5 {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .kevinquote1,
  .kevinquote2 {
    font-size: 0.9rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 5rem;
  }
  .kevinquote2 {
    margin-top: 4.8rem;
    margin-left: 4rem;
  }
}

/* iphone 7 plus  */
@media (min-width: 0px) and (max-width: 414px) {
  p.bubble {
    width: 7rem;
    font-size: 0.7rem;
    padding: 5px;
  }
  p.bubble {
    width: 8rem;
    margin-right: 0.4rem;
    font-size: 0.8rem;
  }
  p.speech:before {
    left: 4px;
    bottom: -20px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 4px;
    bottom: -15px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }

  .kevinquote1,
  .kevinquote2 {
    font-size: 0.7rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .kevinquote2 {
    margin-top: 4.7rem;
    margin-left: 1rem;
  }
  .yearquote p {
    font-size: 1.1em;
    margin-left: 0.2rem;
    margin-top: 8rem;
  }

  #kevruddName {
    /* position: absolute; */
    font-size: 0.7rem;

    margin-left: 5rem;
    top: 1.4rem;
    /* top: 1rem; */
  }
}
@media (min-width: 0px) and (max-width: 411px) {
  p.bubble {
    width: 8rem;
    margin-right: 0.4rem;
    font-size: 0.8rem;
  }
  p.speech:before {
    left: 4px;
    bottom: -20px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 4px;
    bottom: -15px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  .kevinquote1,
  .kevinquote2 {
    font-size: 0.7rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .kevinquote2 {
    margin-top: 4.7rem;
    margin-left: 0rem;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  p.bubble {
    width: 8rem;
    font-size: 0.8rem;
  }
  p.speech:before {
    left: 4px;
    bottom: -20px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 4px;
    bottom: -15px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  .kevinquote1,
  .kevinquote2 {
    font-size: 0.8rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .kevinquote2 {
    margin-top: 4.7rem;
    margin-left: 0rem;
  }
}
/*iphone 7/6/8 */
@media (min-width: 0px) and (max-width: 375px) {
  p.bubble {
    width: 7rem;
    font-size: 0.7rem;
  }
  .kevinquote1,
  .kevinquote2 {
    font-size: 0.65rem;
  }
}
/* Galaxy Note 3 / Galaxy Note II *

/*iphone 5*/

@media (min-width: 0px) and (max-width: 320px) {
  p.bubble {
    width: 6rem;
    margin-right: 0.4rem;
    font-size: 0.6rem;
  }
  p.speech:before {
    left: 4px;
    bottom: -20px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 4px;
    bottom: -15px;
    border: 12px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  .kevinquote1,
  .kevinquote2 {
    font-size: 0.6rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .kevinquote2 {
    margin-top: 4.7rem;
    margin-left: 0rem;
  }
}
