@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

.fluid {
  background-color: #fcf4e8;
  padding: 10px;
}

.title {
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
}

.links {
  font-size: 70%;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}

.App-header {
  background-color: #fcf4e8;
  border-bottom: solid 2px #000000;
  font-weight: 500;
  color: #c97e2e !important;
}

.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.full-width-image img {
  width: 100%;
}

.heading {
  font-size: vw;
  font-family: "Public Sans", sans-serif;
  width: 750px;
  margin: 10%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.p1 {
  font-size: 4vw;
  text-align: center;
  background-color: #fcf4e8;
  font-family: "Public Sans", sans-serif;
  padding-top: 12%;
  padding-bottom: 22%;
  color: #c98030;
  font-weight: 700;
  line-height: 1.25;
}

.paragraph-headings {
  font-size: 4vw;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 1px;
  word-spacing: 1.25%;
}
.p2 {
  font-size: 1.5vw;
  text-align: center;
  font-weight: 500;
  color: #3f342c;
}
.p3 {
  font-size: 2vw;
  font-family: "Public Sans", sans-serif;
  width: 750px;
  text-align: center;
  color: #e68a00;
  margin: 4%;
}
.p4 {
  font-size: 45px;

  /* width: 100px; */
  text-align: center;
  margin: 0%;
}
.p5 {
  font-size: 45px;
  text-align: center;
  margin: 0%;
}

.call {
  min-height: 20vh;
  font-family: "Roboto Mono", sans-serif;
  color: #3c2f29;
  font-size: 2.1vw;
  padding-top: 8%;
  padding-bottom: 17%;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.backgroundforcall {
  background-color: #fdf2e2;
}

p {
  line-height: 1.25;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
}

.however {
  color: #fdf2e2;
  font-family: "Roboto Mono", sans-serif;
  font-size: 10.5vw;
  padding-top: 6.2%;
  padding-bottom: 6.2%;
}

.sep {
  background-color: #fff;
  min-height: 20vh;
}

.footer {
  padding-top: 3% !important;
  padding-left: 5% !important;
  color: #ffffff;
  background-color: #3c2f29;
  min-height: 20vh;
  font-size: 2.1vw;
  font-family: "Roboto Mono", sans-serif;
}

.h-text {
  transform: rotate(-180deg);
}

p {
  word-spacing: 1%;
  line-height: 1.25;
}

.nopadding-left {
  text-align: right;
  padding: 0 !important;
  margin: 0 !important;
  letter-spacing: 2.5px;
}

.nopadding-right {
  text-align: left;
  letter-spacing: 2.5px;
}

.yearquote p {
  position: absolute;
  color: rgb(214, 142, 8);
  font-size: 1em;
  margin-left: 4rem;
  margin-top: 15.5rem;
  font-weight: 500;
  /* display-direction: column;*/
}

#kevinquote {
  display: flex;
}

#kevruddName {
  position: absolute;
  color: #000;
  font-size: 1rem;
  /* margin-left: 2rem; */
  margin-left: 11rem;
  margin-top: 16rem;
  /* margin: 16rem;
  margin-left: 13rem; */
  font-weight: 600;
}

.kevimage img {
  height: auto;
  width: 20rem;
  margin-left: 15rem;
  border-radius: 5px;
  margin-top: 1rem;
  display: flex;
  z-index: -1;
}

#speechBubble {
  margin-bottom: 2px;
}
p.bubble {
  position: absolute;
  width: 18rem;
  text-align: center;
  line-height: 1.4em;
  margin: 0 0.1rem;

  border: 5px solid #3a2419;
  border-radius: 0.4rem;

  padding: 1px;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: #3a2419;
  color: #fff;
}

p.bubble:before,
p.bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}
p.speech:before {
  left: 4px;
  bottom: -47px;
  border: 24px solid;
  border-color: #3a2419 transparent transparent #3a2419;
}
p.speech:after {
  left: 24px;
  bottom: -27px;
  border: 5px solid;
  border-color: #3a2419 transparent transparent #3a2419;
}
.kevinquote1,
.kevinquote2 {
  position: absolute;
  line-height: 1.5em;
  font-weight: 700;
  font-size: 1.3rem;
}
.kevinquote1 {
  margin-left: 5rem;
  margin-top: 8rem;
}
.kevinquote2 {
  margin-left: 3.5rem;
  margin-top: 10rem;
}

#quotebold {
  font-weight: 600;
  margin-bottom: 1px;
}
#quoteunderline {
  margin-top: 1rem;
  text-decoration: underline solid rgb(148, 110, 15) 0.53rem;
}

/* media  */

/* iphone 7 plus  */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  p.bubble {
    width: 6rem;
    padding: 1px;
    font-size: 0.6rem;
  }
  p.speech:before {
    left: 1px;
    bottom: -15px;
    border: 8px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 1px;
    bottom: -3px;
    border: 4px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }

  .kevimage img {
    height: auto;
    width: 10rem;
    margin-left: 2rem;
  }

  .kevinquote1,
  .kevinquote2 {
    font-size: 0.6rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 0.5rem;
  }
  .kevinquote2 {
    margin-top: 4.7rem;
    margin-left: 0.05rem;
  }

  .yearquote p {
    font-size: 1.7em;
    margin-left: 0.4rem;
    margin-top: 8rem;
  }

  #kevruddName {
    margin-top: 9rem;
    margin-left: 3rem;
    font-size: 0.7rem;
  }
}

/* ipad */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  p.bubble {
    width: 8.5rem;
    font-size: 0.8rem;
    padding-right: 1px;
  }

  p.speech:before {
    left: 4px;
    bottom: -25px;
    border: 10px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 9px;
    bottom: -8px;
    border: 3px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  .kevinquote1,
  .kevinquote2 {
    font-size: 0.8rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .kevinquote2 {
    margin-top: 4.8rem;
    margin-left: 0.1rem;
  }
  .kevimage img {
    height: auto;
    width: 15rem;
    margin-left: 4rem;
    z-index: -1;
  }
  .yearquote p {
    font-size: 1.5em;
    margin-left: 0.1rem;
    margin-top: 13rem;
  }
  #kevruddName {
    margin-top: 13rem;
    margin-left: 7rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  p.bubble {
    width: 11rem;
    font-size: 1rem;
    padding: 5px;
  }
  p.speech:before {
    left: 4px;
    bottom: -40px;
    border: 20px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }
  p.speech:after {
    left: 24px;
    bottom: -20px;
    border: 3px solid;
    border-color: #3a2419 transparent transparent #3a2419;
  }

  .yearquote p {
    font-size: 1.5em;
    margin-left: 0.2rem;
    margin-top: 10rem;
  }

  .kevimage img {
    height: auto;
    width: 17rem;
    margin-left: 9rem;
  }

  .kevinquote1,
  .kevinquote2 {
    font-size: 0.8rem;
  }

  .kevinquote1 {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .kevinquote2 {
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .yearquote p {
    font-size: 1.7em;
    margin-left: 3rem;
    margin-top: 12rem;
  }
  #kevruddName {
    margin-top: 13rem;
  }
}
